.whatsapp-btn {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #00e676;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 3px solid var(--white-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  svg {
    width: 35px;
    height: 35px;
    color: var(--white-color);
  }
  &:hover {
    transform: scale(1.1);
  }
}
