.app__pros {
  padding: 0 2rem;
  @media screen and (max-width: 1000px) {
    padding: 0 3rem;
  }
  @media screen and (max-width: 550px) {
    padding: 0 1rem;
  }
}

.app__pros-features {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 61px;
  padding: 3rem 0 5rem;
  background-color: var(--primary-color);
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.app__pros-feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1rem;
  .icon {
    width: 123px;
    height: 72.31px;
    svg {
      width: 100%;
      height: 100%;
      color: var(--white-color);
    }
    margin-bottom: 1rem;
  }

  h3 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 2rem;
    text-align: center;
  }
  p {
    color: var(--white-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
  }
}
.app__pros-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 2rem;
    width: 25%;
    height: 250px;

    .circle {
      position: absolute;

      font-weight: 700;
      font-size: 28px;
      line-height: 38px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      top: -30px;
      left: calc(80% / 2);
    }
  }

  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
  }
  @media screen and (max-width: 1000px) {
    display: none;
    div {
      width: 90%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.app__pros-text1 {
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     width: 60px;
  //     height: 60px;
  //     border-radius: 50%;
  //     background-color: var(--secondary-color);
  //     top: -30px;
  //     left: calc(90% / 2);
  //   }
}
.app__pros-text2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
  @media screen and (max-width: 1000px) {
    border: none;
  }
}
.app__pros-text3 {
  border-left: 1px solid black;

  @media screen and (max-width: 1000px) {
    border: none;
  }
}
.app__pros-text4 {
}

.app__pros-features-s {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 4rem;
  border-radius: 61px;
  background-color: var(--primary-color);
  color: var(--white-color);

  @media screen and (min-width: 1000px) {
    display: none;
  }
  @media screen and (max-width: 550px) {
    padding: 2rem 2rem;
  }
}
.app__pros-feature-s {
  width: 100%;
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;

    margin: 1rem 0;
  }
  .feature-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 123px;
      height: 72.31px;
      color: var(--secondary-color);
    }
    .circle {
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      top: -30px;
      left: calc(80% / 2);
    }
    margin-bottom: 1.5rem;
  }
  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }
}
.no-border {
  border: none;
  border-bottom: none !important;
}
