.app__services2 {
  background-color: var(--gray-color);
  padding: 4rem 2rem;
  margin: 4rem 2rem;
  border-radius: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  @media screen and (max-width: 1150px) {
    flex-direction: column;
  }
  @media screen and (max-width: 730px) {
    padding: 1rem 1rem 4rem;
    margin: 4rem 1rem;

  }
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .left-img {
    width: 425px;
    height: 342px;
    position: relative;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      border-radius: 44px;
      object-fit: cover;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      top: 105px;
      right: -130px;
      border: 65px solid red;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
      z-index: -1;
      @media screen and (max-width: 1150px) {
        display: none;
      }
    }
    @media screen and (max-width: 730px) {
      width: 100%;
      height: 242px;
    }
  }
  .left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 342px;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 700;
      font-size: 48px;
      line-height: 75px;
      color: var(--primary-color);
    }
    @media screen and (max-width: 1150px) {
      height: 242px;
      h3 {
        font-size: 36px;
        line-height: 56px;
      }
    }
    @media screen and (max-width: 730px) {
      h3 {
        font-size: 30px;
        line-height: 46px;
      }
    }
  }
  @media screen and (max-width: 1150px) {
    flex-direction: column-reverse;
  }
  @media screen and (max-width: 730px) {
    width: 100%;
  }
}

.middle {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  .middle-line {
    position: relative;
    width: 5px;
    // height: 220px;
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &.first {
      height: 370px;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 8px solid var(--secondary-color);
        display: block;
        background-color: transparent;
        border-radius: 50%;
        top: -19px;
        left: -10.5px;
      }
    }
    &.second {
      height: 220px;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 8px solid var(--secondary-color);
        display: block;
        background-color: var(--white-color);
        border-radius: 50%;
        top: -45px;
        left: -10.5px;
      }
    }
    &.third {
      height: 100px;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 8px solid var(--secondary-color);
        display: block;
        background-color: var(--white-color);
        border-radius: 50%;
        top: 85px;
        left: -10.5px;
        z-index: 9999;
      }
    }
    &.last {
      height: 325px;
      transform: rotate(180deg);

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 8px solid var(--secondary-color);
        display: block;
        background-color: transparent;
        border-radius: 50%;
        top: -19px;
        left: -10.5px;
      }
    }
  }
  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .right-img {
    width: 425px;
    height: 342px;
    position: relative;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      border-radius: 44px;
      object-fit: cover;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      top: 105px;
      left: -130px;
      border: 65px solid red;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
      z-index: -1;
      @media screen and (max-width: 1150px) {
        display: none;
      }
    }
    @media screen and (max-width: 730px) {
      width: 100%;
      height: 242px;
    }
  }
  .right-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 342px;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 700;
      font-size: 48px;
      line-height: 75px;
      color: var(--primary-color);
    }
    @media screen and (max-width: 1150px) {
      height: 242px;
      h3 {
        font-size: 36px;
        line-height: 56px;
      }
    }
    @media screen and (max-width: 730px) {
      h3 {
        font-size: 30px;
        line-height: 46px;
      }
    }
  }
  @media screen and (max-width: 730px) {
    width: 100%;
  }
}
