.overlay-content {
  margin-top: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    color: var(--primary-color);
    font-size: 60px;
    @media screen and(max-width:600px) {
      font-size: 50px;
    }
  }
  a {
    font-size: 18px;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--white-color);
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
    &:hover {
      background-color: transparent;
      color: var(--secondary-color);
    }
    @media screen and(max-width:600px) {
      padding: 0.5rem 1rem;
    }
  }
}
